
.link-cta ul {list-style:none;}


<div class="container">
  <div class="row">
	<div class="col-sm-9">
		<h1 class="text-center">Left Pannel Heading</h1>
	</div>
	<div class="col-sm-3">
		<button class="btn btn-default">Logout</button>
	</div>
  </div>
</div>

<div class="clearfix"></div>

<div class="container">
  <div class="row">
	<div class="col-sm-3">
		<h1 class="text-center">Left Pannel</h1>
		<div class="link-cta">
		<ul>
			<li><a href="#"></li>
			<li><a href="#"></li>
			<li><a href="#"></li>
			<li><a href="#"></li>
		</ul>
		</div>
	</div>
	<div class="col-sm-9">
		<h1 class="text-center">Right Pannel</h1>
	</div>
  </div>
</div>

<div class="clearfix"></div>

<div class="container">
  <div class="row">
	<div class="col-sm-12">
		<h1 class="text-center">Page title</h1>
	</div>
  </div>
</div>

<div class="clearfix"></div>

