doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		style(type='text/css').
			.link-cta ul li {list-style:none;}
	body
		div.container
			div.row
				div.col-sm-9
					h1.text-center Left Pannel Heading
				div.col-sm-3
					a.btn.btn-default(href="/logout") Logout
		div.clearfix
		div.container
			div.row
				div.col-sm-3
					h1.text-center Left panel
					div.link-cta
						ul
							li
								a(href="/test") Test1
							li
								a(href="/test") Test2
							li
								a(href="/test") Test3
							li
								a(href="/test") Test4
				div.col-sm-9
					h1.text-center Right panel
		div.clearfix
