doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
	body
		//login form
		form(method="POST" action="/login" novalidate)
			div.container
				div.row
					div.col-md-6.col-md-offset-3
						if (validationErrors != null)
							div.alert.alert-danger
								ul#errors
									each _error in validationErrors
										li #{_error.msg}
						p.error #{error}
						div.form-group
							label(for='email') Email:
							input#email.form-control(type='email',placeholder='Email Address' name='email')
						div.form-group
							label(for='password') Password:
							input#password.form-control(type='password',placeholder='Password' name='password')
						button.btn.btn-primary(type='submit') Login
						a(href="/resetpassword") Forgot Password?
	
