doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
	body
		//login form
		form(method="POST" action="/register" novalidate)
			div.container
				div.row
					div.col-md-6.col-md-offset-3
						if (validationErrors != null)
							div.alert.alert-danger
								ul#errors
									each _error in validationErrors
										li #{_error.msg}
						p.error #{error}
						div.form-group
							label(for='name') Name:
							input#name.form-control(type='name',placeholder='Name' name='name')
							if(validationErrors != null && validationErrors.name)
								div.error #{validationErrors.name.msg}
						div.form-group
							label(for='email') Email:
							input#email.form-control(type='email',placeholder='Email Address' name='email')
							if(validationErrors != null && validationErrors.email)
								div.error #{validationErrors.email.msg}
						div.form-group
							label(for='password') Password:
							input#password.form-control(type='password',placeholder='Password' name='password')
							if(validationErrors != null && validationErrors.password)
								div.error #{validationErrors.password.msg}
						div.form-group
							label(for='confirmpassword') Confirm Password:
							input#confirmpassword.form-control(type='password',placeholder='Confirm Password' name='confirmpassword')
							if(validationErrors != null && validationErrors.confirmpassword)
								div.error #{validationErrors.confirmpassword.msg}
						div.form-group
							label(for='photo') Photo:
							input#profilephoto.form-control(type='file',name='profilephoto')
							if(validationErrors != null && validationErrors.profilephoto)
								div.error #{validationErrors.profilephoto.msg}
						div.form-group
							label(for='aboutme') About me:
							textarea#aboutme.form-control(name='aboutme')
						button.btn.btn-primary(type='submit') Register
	
